.features {
  gap: calc(var(--default-padding) * 8);
  align-items: end;
  background-color: var(--color-white);
  padding-bottom: 8rem;
}

.features__data {
  display: grid;
  gap: var(--default-padding);
}

.features__examples {
  display: grid;
  gap: calc(var(--default-padding) / 1.5);
}

.features__example {
  display: flex;
  align-items: center;
  gap: calc(var(--default-padding) / 2);
}

.features__describtion {
  font-weight: 400;
  line-height: 3rem;
}
