:root {
  --color-footer-blue: #afb5c0;
  --color-dark-blue: #0b132a;
  --color-desaturated-pink: #f53855;
  --color--pink: #f53838;
  --color-main-blue: #4f5665;
  --color-white: #fff;
  --color-of-white: #f8f8f8;
  --color-text: var(--color-main-blue);
  --default-padding: 2rem;
  --default-radius: 1rem;
  --container-width: 119rem;
  --transition-timing: 0.3s;
}
